@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$section-heading-lg: 45px;
$section-heading-md: 30px;
$section-content-md: 20px;
$section-content-sm: 14px;
$font-15px: 15px;

$speed1: 0.2s;
$speed2: 0.3s;
$speed3: 0.4s;
$speed4: 0.5s;
$speed5: 0.6s;
$line-thickness: 2px;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  border-radius: 12px;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5) inset;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.46, rgb(188, 188, 188)),
    color-stop(0.72, rgb(94, 94, 94)),
    color-stop(0.84, rgb(0, 0, 0))
  );
}
body {
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: auto;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

// =======================
/* Toggle Button */
.progress-container {
  background-color: transparent;
  position: fixed;
  bottom: -2px;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 5;
}

.toggle-Btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 0.2rem;
  border: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 2px 2px 10px #1e1e1e73;
  z-index: 20;
  font-size: 30px;
  background-color: #ffffff2d;
}

// ========================= Section-1 banner =======================
.section-1.banner {
  width: 100%;
  height: auto;
  position: relative;
  // 
  color: #fff;
  height: 100vh;
  .section-1-left {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    .content-wrapper {
      width: 80%;
      padding-right: 10%;
      .section-1-headings {
        font-size: clamp(2.5rem, 6vw, 3.4375rem);
      }
      .line {
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, #ac010a 20%, #fff20000 100%);
        margin: 30px 0;
      }
      .section-1-text {
        font-size: clamp(1rem, 2vw, 1.3rem);
        font-weight: 300;
      }
      .section-1-subhead {
        font-size: clamp(1.125rem, 2.5vw, 1.5rem);
        font-weight: 600;
      }
      .section-1-button {
        .button-fancy {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          display: inline-block;
          padding: 16px 42px;
          text-decoration: none;
          position: relative;
          color: #fff;
          margin-top: 20px;

          .arrow {
            background-color: transparent;
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 50%;
            border-style: solid;
            border-width: 2px;
            width: 100%;
            height: 100%;
            z-index: 1;
            will-transform: translate;
            transform: translate(50%, -50%);
            transition: transform $speed4 ease-in, right $speed4 ease-in-out,
              width $speed3 ease $speed2, height $speed2 ease $speed2,
              border-width $speed3 ease-in-out, background-color $speed1 ease-in,
              border-color $speed3 ease-in-out;

            &:before,
            &:after {
              background-color: transparent;
              content: "";
              display: block;
              height: 2px;
              position: absolute;
              top: 0;
              right: 0;
              transition: all 0.2s;
              transition-delay: 0;
            }

            &:before {
              transform-origin: top right;
            }

            &:after {
              transform-origin: bottom right;
            }
          }

          &:hover {
            &.-white > .arrow {
              background-color: #ac010a;

              &:before,
              &:after {
                background-color: #ac010a;
              }
            }

            .arrow {
              height: 2px;
              border-width: 0;
              border-color: transparent;
              width: 56px;
              right: 0;
              transform: translate(50%, -50%);
              transition: transform $speed4 ease-in, right $speed4 ease $speed1,
                width $speed3 ease, height $speed2 ease-in-out,
                border-width $speed2 ease-in-out,
                background-color $speed1 ease-in $speed2,
                border-color $speed2 ease-in-out;

              &:before,
              &:after {
                width: 8px;
                transition-delay: $speed3;
              }

              &:before {
                transform: rotate(40deg);
              }

              &:after {
                transform: rotate(-40deg);
              }
            }

            > .texts {
              transform: translateX(-42px);
              transition: transform $speed3 ease-in-out $speed1;
            }
          }

          &.-white {
            color: #ac010a;
            border-color: #ac010a;
          }

          .texts {
            display: block;
            position: relative;
            z-index: 1;
            color: white;
            transition: transform $speed2 ease-in-out;
          }
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 100vh;
      width: 150px;
      z-index: 1;
      background: linear-gradient(90deg, #000000, #00000000);
    }
  }
  video {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
  .section-1-heading {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 1rem;
    z-index: 6;
    font-size: 10rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ffffff;
  }
}

.about-us {
  .about-section-1 {
    .about-content-img {
      img {
        width: 100%;
        object-fit: cover;
        height: 400px;
      }
    }
  .about-content {
    h3 {
      font-size: 30px;
      padding-bottom: 10px;
    }
    h5 {
      font-size: 16px;
    }
  }
  .text-one {
    text-align: left;
  }
  .text-two {
    text-align: center;
  }
  .text-three {
    text-align: right;
  }
}
.about-section-2 {
  padding-block: 100px;
  .about-content {
    h3 {
      font-size: 40px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      letter-spacing: 3px;
      span.red-text {
        color: #ac010a;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        border-bottom: 2px solid #ac010a;
      }
    }
    h5 {
      font-size: 18px;
      padding-block: 30px;
    }
    .flex-content {
      .right-list {
        list-style-type: none;
        font-size: 32px;
        font-weight: 300;
      }
    }
  }
  .about-content-img2{
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}   
}

.section-3.content-anime {
  flex-direction: column;
  text-align: center;
  padding: 100px 0;
  z-index: 5;
  position: relative;

  .text {
    font-size: 50px;
    margin-block: 30px;
  }
  .gsap-text {
    font-size: 40px;
    margin-block: 10px;
  }
}

.marquee1 {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem 0;
  transform: rotate(-8deg) scale(1.1);
  background-color: #ac010a;

  .marquee_text_1 {
    display: inline-block;
    padding-left: 100%;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    animation: marquee-right-left 16s linear infinite;
  }

  @keyframes marquee-right-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.marquee2 {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem 0;
  transform: rotate(4deg) scale(1.1);
  box-shadow: 0 0 25px #000000b7;
  background-color: #f3ce00;

  .marquee_text_2 {
    display: inline-block;
    padding-left: 100%;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    animation: marquee-left-right 36s linear infinite;
  }

  @keyframes marquee-left-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.line {
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #000000 20%, #fff20000 100%);
  margin: 20px 0;
}

.feature-section {
  padding-top: 100px;

  .feature-heading {
    color: #fff;
    text-align: center;
    font-size: 60px;
    padding-bottom: 150px;
  }

  .feature-card-wrapper {
    position: relative;
    .circle {
      position: absolute;
      display: block;
      background: black;
      border-radius: 100%;
      margin: 0;
    }
    .circle.one {
      top: 40%;
      left: 20%;
      height: 120px;
      width: 120px;
      background: radial-gradient(circle at 100px 100px, #ac010a, #000);
    }
    .circle.two {
      top: 50%;
      left: 50%;
      height: 300px;
      width: 300px;
      background: radial-gradient(circle at 100px 100px, #ac010a, #000);
    }
    .circle.three {
      top: 0%;
      left: 80%;
      height: 150px;
      width: 150px;
      background: radial-gradient(circle at 100px 100px, #ac010a, #000);
    }
    .circle.four {
      top: 75%;
      left: -5%;
      height: 200px;
      width: 200px;
      background: radial-gradient(circle at 100px 100px, #ac010a, #000);
    }
  .card-container {
    position: relative;
    .feature-card {
      background: rgba(80, 80, 80, 0.25);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.872), rgba(80, 80, 80, 0.116));
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      margin-bottom: 200px;
      color: white;
      padding: 20px;
      height: 350px;
      
      position: relative;
      z-index: 2;
      h1 {
        font-size: 25px;
        margin-bottom: 40px;
      }
    }

    .card-count {
      position: absolute;
      z-index: 1;
      top: -150px;
      left: 25px;
      text-align: center;
      font-size: 12rem;
      margin: 0;
      padding: 0;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }
}
}

.slide-show {
  padding-top: 100px;
  .show-heading {
    text-align: center;
    font-size: clamp(5rem, 6vw, 7rem);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
  }
  .show-heading-2 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
  }
  .last-section {
    padding-top: 100px;
    .content-img {
      img {
        width: 100%;
        object-fit: contain;
      }
      .last-one-img {
        position: relative;
        background-color: #222235;
        border-radius: 50px;
        height: 180px;
        margin-block: 50px;

      }
      .img-one {
        object-fit: contain;
        position: absolute;
        padding: 0 25px;
        bottom: 1px;
        height: auto;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .596078));
      }
    }
    .show-content {
      h5 {
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .explore-link {
        position: relative;
        padding-block: 20px;
        text-decoration: none;
        color: #fff;
        span{
          font-size: 30px;
          margin-left: 10px;
          transform: rotate(180deg);
          transition: transform .3s ease;
        }

        &:after {
          content: "";
          position: absolute;
          width: 200px;
          transform: scaleX(0);
          border-radius: 5px;
          height: 0.05em;
          bottom: 10px;
          left: 0px;
          background: #ac010a;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
    .show-content.col-three {
      text-align: right;
      .third-col-num {
        font-size: 6rem;
        color: #fff;
        line-height: 35px;
        .plus {
          color: #ac010a !important;
        }
        .text {
          font-size: 16px;
          text-align: left;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
    }
  }
}

/* ==================================
    Section-3 Insight Blogs Styling
   ================================== */
   .section-3.insight-blog {
    width: 100vw;
    margin-block: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .insight-head {
      font-size: 60px;
      font-weight: 600;
      padding: 0 212px 30px;
    }
    .insight-wrapper {
      width: 100vw;
      max-width: 1500px;
      margin-inline: 200px;
      display: grid;
      grid-template-areas:
        "one two two"
        "one three four"
        "five three six";
      grid-gap: 25px;
  
      .box {
        min-height: 200px;
        border-radius: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        transition: 0.25s ease-in-out;
        position: relative;
  
        &:hover {
          border-radius: 10px;
          transform: scale(1.02);
  
          .box-content {
            span {
              transform: translateX(-10px);
            }
          }
        }
  
        &.one {
          background: #6b9e78;
          color: #fff;
          grid-area: one;
        }
        &.two {
          background: #cc850a;
          color: #000;
          grid-area: two;
        }
        &.three {
          background: #46a1ac;
          color: #000;
          grid-area: three;
        }
        &.four {
          background: #e16a7c;
          color: #fff;
          grid-area: four;
        }
        &.five {
          background: #003d4f;
          color: #fff;
          grid-area: five;
        }
        &.six {
          background: #674a7a;
          color: #fff;
          grid-area: six;
        }
  
        .box-button {
          padding: 10px 20px;
          background-color: #000;
          color: #fff;
          border: none;
          width: fit-content;
        }
        .box-heading {
          font-size: clamp(1.25rem, 2.5vw, 2rem);
          font-weight: 600;
        }
  
        .box-content {
          margin-top: auto;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          color: #000;
          text-decoration: none;
          transition: transform 0.3s ease;
          width: fit-content;
  
          &:after {
            content: "";
            position: absolute;
            width: 200px;
            transform: scaleX(0);
            border-radius: 5px;
            height: 0.05em;
            bottom: 20px;
            left: 20px;
            background: #fff;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
  
          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
  
          span {
            font-size: 30px;
            margin-left: 10px;
            rotate: 180deg;
            transition: transform 0.3s ease;
          }
        }
      }
    }
  
    @media screen and (max-width: 600px) {
      .insight-wrapper {
        display: grid;
        grid-template-areas:
          "one"
          "two"
          "three"
          "four"
          "five"
          "six";
        grid-gap: 10px;
      }
    }
  }


.footer-wrapper {
  img {
    max-width: 100%;
    height: auto;
  }
  section {
    padding: 60px 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .contact-area {
    border-bottom: 1px solid #353c46;
  }

  .contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
  }

  .contact-content p::after {
    background: #353c46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
  }

  .contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .contact-content span {
    color: #353c47;
    margin: 0 10px;
  }

  .contact-social {
    margin-top: 30px;
  }

  .contact-social > ul {
    display: inline-flex;
  }

  .contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
  }

  .contact-social ul li a:hover {
    border: 1px solid #ac010a;
    color: #ac010a;
  }

  .contact-content img {
    max-width: 210px;
  }

  section,
  footer {
    background: #1a1e25;
    background: linear-gradient(90deg, #111111 50%, #2a2a2a00 200%);
    color: #868c96;
  }

  footer p {
    padding: 40px 0;
    text-align: center;
    margin: 0;
  }

  footer img {
    width: 44px;
  }
}

/************ Tokenomics Css ************/
.tokenomic {
  padding: 50px 0 50px 0;
  position: relative;
  z-index: 1;
  background-color: #111116;
  color: #fff;
  text-align: center;

  .tokenomics-heading {
    font-size: 48px;
  }

  .token-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  .progress {
    width: 200px;
    height: 200px;
    font-size: 40px;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: #07070c;
    text-align: center;
    line-height: 200px;
    margin: 20px;
    justify-content: center;
    align-items: center;

    &:after {
      content: "%";
    }

    .title {
      position: relative;
      z-index: 100;
    }

    .overlay {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #07070c;
    }

    .left,
    .right {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 10px solid #222235;
      border-radius: 100px 0px 0px 100px;
      border-right: 0;
      transform-origin: right;
    }

    .left {
      animation: load1 1s linear forwards;
    }

    &:nth-of-type(2) .right,
    &:nth-of-type(3) .right {
      animation: load2 0.5s linear forwards 1s;
    }

    &:last-of-type .right,
    &:first-of-type .right {
      animation: load3 0.8s linear forwards 1s;
    }

    @keyframes load1 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(180deg);
      }
    }

    @keyframes load2 {
      0% {
        z-index: 100;
        transform: rotate(180deg);
      }

      100% {
        z-index: 100;
        transform: rotate(270deg);
      }
    }

    @keyframes load3 {
      0% {
        z-index: 100;
        transform: rotate(180deg);
      }

      100% {
        z-index: 100;
        transform: rotate(315deg);
      }
    }
  }
}

// Tablet Screen
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .section-1.banner {
    .section-1-left {
      .content-wrapper {
        width: auto;
        padding: 20px;
        .section-1-headings {
          font-size: clamp(2.5rem, 6vw, 3.4375rem);
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: calc(100vh - 620px);
        left: 0;
        height: 100px;
        width: 100%;
        z-index: 1;
        background: linear-gradient(0deg, #000000, #00000000);
      }
    }

    video {
      height: 40vh;
      margin-top: 80px;
    }
  }

  .about-us {
    margin-top: 0rem;
    padding-inline: 8px;
    h5 {
      font-size: 16px;
      word-spacing: 2px;
    }
    .about-section-1 {
      .about-content{
        margin-block: 30px;
      }
    }
    .about-section-2 {
      padding-block: 0px;
      .about-content {
        h3 {
          font-size: 32px;
          margin-top: 20px;
          span.red-text {
            font-size: 32px;
          }
        }
        .flex-content {
          flex-direction: column;
        }
      }
    }
  }
  

  .section-2.feature-section {
    .feature-card-wrapper {
      padding-inline: 20px;
      .card-container {
        .card-count {
          top: -110px;
          left: 25px;
          font-size: 9rem;
        }
        .feature-card {
          margin-bottom: 120px;
          h1 {
            font-size: 24px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .feature-heading {
        font-size: 48px;
      }
    }
  }

  .section-3.insight-blog {
    margin: 0 0 60px;
    .insight-head {
      font-size: 48px;
      padding:0 30px 20px;
    }
  }
  .section-3.content-anime {
    padding: 50px 0;

    .text {
      font-size: 30px;
      margin-block: 10px;
    }
    .gsap-text {
      font-size: 20px;
      margin-block: 5px;
    }
  }

  .marquee1 {
    bottom: 25%;
    padding: 1.5rem 0;
    transform: rotate(-8deg) scale(1.1);

    .marquee_text_1 {
      font-size: 2rem;
    }
  }

  .marquee2 {
    padding: 1.5rem 0;
    transform: rotate(7deg) scale(1.1);

    .marquee_text_2 {
      font-size: 2rem;
    }
  }

  #slideshow {
    .show-heading {
      font-size: 52px;
    }
    .show-heading-2 {
      font-size: 36px;
    }
    .last-section {
      padding-top: 15rem;

      .content-img {
        .last-one-img {
          height: 400px;
        }
      }
      .show-content {
        text-align: center; 
        h5 {
          font-size: 24px;
        }
        a {
          font-size: 20px;
        }
        padding-block: 50px;
        .third-col-num {
          font-size: 4rem;
        }
      }
    }
    .last-section-content {
      h3 {
        font-size: 35px;
      }
      h5 {
        font-size: 18px;
      }
    }
  }
}

// Mobile Screen
@media screen and (max-width: 600px) {
  .section-1.banner {
    .section-1-left {
      .content-wrapper {
        width: auto;
        padding: 20px;
        .section-1-headings {
          font-size: clamp(2.5rem, 6vw, 3.4375rem);
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: calc(100vh - 460px);
        left: 0;
        height: 100px;
        width: 100%;
        z-index: 1;
        background: linear-gradient(0deg, #000000, #00000000);
      }
    }

    video {
      height: 40vh;
      margin-top: 80px;
    }
  }

  .about-us {
    margin-top: 18rem;
    padding-inline: 8px;
    h5 {
      font-size: 16px;
      word-spacing: 2px;
    }
    .about-section-1 {
      .about-content{
        margin-block: 30px;
      }
    }
    .about-section-2 {
      padding-block: 0px;
      .about-content {
        h3 {
          font-size: 32px;
          margin-top: 20px;
          span.red-text {
            font-size: 32px;
          }
        }
        .flex-content {
          flex-direction: column;
        }
      }
    }
  }
  

  .section-2.feature-section {
    .feature-card-wrapper {
      padding-inline: 20px;
      .card-container {
        .card-count {
          top: -110px;
          left: 25px;
          font-size: 9rem;
        }
        .feature-card {
          margin-bottom: 120px;
          h1 {
            font-size: 24px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .feature-heading {
        font-size: 48px;
      }
    }
  }

  .section-3.insight-blog {
    margin: 0 0 60px;
    .insight-head {
      font-size: 48px;
      padding:0 30px 20px;
    }
  }
  .section-3.content-anime {
    padding: 50px 0;

    .text {
      font-size: 30px;
      margin-block: 10px;
    }
    .gsap-text {
      font-size: 20px;
      margin-block: 5px;
    }
  }

  .marquee1 {
    padding: 1rem 0;
    transform: rotate(-8deg) scale(1.1);

    .marquee_text_1 {
      font-size: 1.5rem;
    }
  }

  .marquee2 {
    padding: 1rem 0;
    transform: rotate(7deg) scale(1.1);

    .marquee_text_2 {
      font-size: 1.5rem;
    }
  }

  #slideshow {
    .show-heading {
      font-size: 48px;
    }
    .show-heading-2 {
      font-size: 18px;
    }
    .last-section {
      padding-top: 50px;

      .show-content {
        text-align: center;
        padding-block: 50px;
        .third-col-num {
          font-size: 4rem;
        }
      }
    }
    .last-section-content {
      h3 {
        font-size: 35px;
      }
      h5 {
        font-size: 18px;
      }
    }
  }
}
